@mixin fontdef($fontName, $fontPath, $fontVersion, $FontType:"Regular") {
  src:  url('#{$fontPath}/#{$fontName}-#{$FontType}.eot?v=#{$fontVersion}');
  src:  url('#{$fontPath}/#{$fontName}-#{$FontType}.eot?#iefix&v=#{$fontVersion}') format('embedded-opentype'),
  url('#{$fontPath}/#{$fontName}-#{$FontType}.svg?v=#{$fontVersion}##{$FontType}') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef("#{fontName}", "/fonts/open-sans", "1.1.0", "Regular");
  font-weight: normal;
  font-style: normal;
}