body {
  font-family: "Open Sans";
}

.splash-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
  background-color: $menu-bg-color;
  img {
    vertical-align: middle;
  }
}

.posts-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  .sidebar-container {
    flex: 0 0 350px;
    order: 1;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $menu-bg-color;
    color: $menu-text-color;
  }

  .main-container {
    order: 2;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}