.sidebar {
  .title {
    font-size: 25px;
    margin: 30px 15px 30px 28px;
    font-weight: bold;
  }

  ul {
    padding: 0;
    li {
      cursor: default;
      list-style-type: none;
      margin: 5px 20px;
      padding: 10px;
      border-radius: 3px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &:hover {
        background: $menu-hover-bg-color;

        .post-edit {
          a {
            color: $menu-text-color;
          }
        }
      }

      &.active {
        background: $menu-selected-bg-color;
        color: $menu-selected-text-color;
      }

      .post-name {
        flex: 0 0 250px;
      }

      .post-edit {
        flex: 0 0 20px;
        padding-left: 20px;

        a {
          color: $menu-bg-color;

          &:hover {
            color: $menu-selected-text-color;
          }
        }
      }
    }
  }
}